*background:    #1C1C1C
*foreground:    #c5c5c5

! Black
*color0:   #111111
*color8:   #666666

! Red
*color1:   rgb:d3/62/65
*color9:   rgb:ef/81/71

! Green
*color2:   #aece91
*color10:  #cfefb3

! Yellow
*color3:   #f8e578
*color11:  #ffdf6

! Blue
*color4:   #5297cf
*color12:  #74b8ef

! Magenta
*color5:   #963c59
*color13:  #b85e7b

! Cyan
*color6:   #5E7175
*color14:  #A3BABF

! White
*color7:   #bebebe
*color15:  #ffffff
